# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directories
lib-cov
coverage
*.lcov
.nyc_output

# Grunt, Bower, node-waf
.grunt
bower_components
.lock-wscript

# Compiled binary addons
build/Release

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional caches
.npm
.eslintcache
.stylelintcache

# REPL history
.node_repl_history

# npm/yarn outputs
*.tgz
.yarn-integrity

# Environment files
.env
.env.*
!.env.example

# Framework build outputs
.cache
.parcel-cache
.next
out
.nuxt
dist
.output
.cache/
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/

# VSCode testing
.vscode-test

# Yarn v2/v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite files